/* Enter and leave animations can use different */
/* durations and timing functions.              */
.raise-enter-active {
    animation: raiseLower .5s ease-in-out;
  }
  .raise-leave-active {
    animation: raiseLower .5s ease-in-out reverse;
  }
  @keyframes raiseLower {
    0% {
      height: 0vh;
    }
    100% {
      height: 70vh;
    }
  }
  